.carousel-caption {
    top: 0;
    bottom: auto;
}
 
 


 /**mobile device*/   
@media only screen and (max-width: 600px){
	.navbar-toggler{ 

 
  display: block;
  position: absolute;
  right: -300px;
  top: 0;
}
	
}
@media (min-width: @screen-sm-min){
		.navbar-toggler{ 

 
  display: block;
  position: absolute;
  right: -150px;
  top: 0;
}
	
}